body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#334155
);

font-family:-apple-system,
BlinkMacSystemFont,
sans-serif;

color:white;
}

.container{
width:90%;
max-width:700px;

padding:40px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;
}

h1{
font-size:3rem;
}

input{
width:80%;
padding:15px;
border:none;
border-radius:15px;
margin:20px;
font-size:18px;
}

button{
padding:15px 30px;
border:none;
border-radius:50px;
cursor:pointer;
font-size:18px;
}

#result{
margin-top:30px;
font-size:24px;
word-wrap:break-word;
}
